@media print {
  body * {
    visibility: hidden;
  }
  .print-area,
  .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 302px;
  }
  .no-print {
    display: none !important;
  }
  @page {
    margin: 0;
    size: 80mm auto;
  }
}
